.view-animate-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
	 
	display: block;
	width: 100%;
	 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
 
.view-animate.ng-enter {
	left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
	left: 0;
}
.view-animate.ng-leave.ng-leave-active {
	left: -100%;
}

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-ms-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.animated.hinge {
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-ms-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}



html {
	width: 100%;
}
body {
	padding-top: 50px;
	width: 100%;
	overflow-x: hidden;
	position:relative;
}

.center {
	text-align:center;
}

.pint-navbar {
	height: 50px;
}

.pint-navbar .navbar-toggle {
	height: 34px;
	background: none;
	border: none;
}

.pint-navbar button:hover {
	color: rgb(196,196,196);
}

.pint-navbar {
	border-radius: 0px;
	border: none;
	margin: 0;
	z-index: 1001;
}

.pint-ui-frame-wrapper {
	width: 100%;
	overflow-x: hidden;
}
.pint-ui-frame {
	width: 200%;
	transition: all 0.3s;
	height: 100%;
	position: relative;
}

.pint-ui-view-top {
	position: absolute;
	width: 50%;
	top: 0px;
	left: 0px;
	height: 0px;
	background-color: rgb(208, 208, 208);
	overflow: hidden;
	transition: all 0.3s;

}
.pint-ui-view-top.expanded {
	height: auto;
	z-index: 1000;
}

.pint-ui-frame.viewingJob {
	margin-left: -100%;
}

.pint-ui-frame.viewingJob .pint-ui-view-top {
	margin-left: 50%;
}

.pint-ui-frame.viewingJob .pint-ui-view-left {
	height: 0px;
	overflow-y: hidden;
}

.pint-search-result.list-group .container,
.pint-item-detail-view .container,
.pint-ui-view-top .container  {
	max-width: 800px;
	padding: 0;
}

.pint-ui-view-left {
	width: 50%;
	float: left;
	height: auto;
	position: relative;
}

.pint-ui-view-right
{
	width: 50%;
	float: left;
	height: auto;
	position: relative;
}

.pint-navbar .navbar-form {
	border: none;
	margin: 8px -15px;
	padding: 0px;
	width: 100%;
	position: relative;
	float: left;
}

.pint-navbar .navbar-form .form-group {
	width: 100%;
}

.pint-navbar .navbar-form .form-control {
	width: 100%;
	border: none;
}

.pint-navbar .navbar-form [type="submit"],
.pint-navbar .navbar-form button {
	
	height: 100%;
	background: none;
	border: none;
}
.pint-search-options .container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.pint-search-form.navbar-form [type="submit"] {
	position: absolute;
	right: 0px;
	top: 0px;
}
.pint-search-form.navbar-form [type="button"] {
	position: absolute;
	left: 100%;
	top: 0px;
}

.pint-ui-modal-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: rgba(145,145,145, 0.5);
}

.modal-dialog {
	margin-top: 50px;
}


.pint-search-result .list-group-item {
	border-radius: 0;
	padding: 0;
	border: none;
}

.pint-job-item {
	padding-right: 60px;
	position: relative;
	width: 100%;
	display: table;
	min-height: 100px;
}
.pint-job-item-selector {
	display: table-cell;
	width: 70px;
	max-width: 70px;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

.pint-job-item-selector:hover {
	background-color: rgb(248, 248, 248);
	color: white;
}

.pint-job-item-selector i {
	font-size: 40px;
}

.pint-job-item-thumbnail {
	display: table-cell;
	vertical-align: top;
	padding: 15px;
	width: 40px;
}
.pint-job-item-thumbnail img {
	margin-top: 15px;
	width: 40px!important;
	height: auto!important;
}
.pint-job-item-content {
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	padding: 15px;
}


.pint-job-item-content h1 {
	font-size: 20px;
}

.pint-item-detail-view h1 {
	font-size: 16px;
	font-weight: bold;
}

.pint-job-item-tags .tag {
	font-weight: 400;
	cursor: pointer;
}

.pint-job-item-view {
	padding: 50px;
	padding-top: 0px;
	text-align: center;
	position: relative;
}
.pint-job-item-view .pint-job-item-description {
	width: 70%;
	text-align: left;
}
.pint-job-item-view .pint-job-item-media {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pint-job-item-logo img{
	max-width: 120px;
	height: auto;
}

.pint-job-item-tags .tag.has:after {
	font-family: 'fontAwesome';
	content: "\f00c";
}
.pint-job-item-contact {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgb(248, 248, 248);
} 
.pint-job-item-contact a {
	font-size: 18px;
}

.back-to-list {
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: rgb(248, 248, 248);
	font-size: 32px;
	width: 64px;
	height: 64px;
	padding: 16px;
	border: none;
	transition: margin 0.15s;
}


@media screen and ( min-width: 768px ){
	.pint-job-item-thumbnail img {
		margin-top: 15px;
		width: 100px!important;
		height: auto!important;
	}
	.back-to-list {

		font-size: 48px;
		width: 96px;
		height: 96px;
		padding: 24px;
	}
	.pint-job-item-contact {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}


[ng-cloak] {
	display: none!important;
}


/* special class to workaround angular-ui/bootstrap modal incompatibility with BS 3.0 */
.modal {
	display: block!important;
}
.modal-dialog {
	padding: 0px!important;
}
.modal-background-click-handler {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}


/* tag input style */
